html
    head
        script(src="/chart.js/dist/chart.umd.js")
        script(src="/scripts/loadChart.js")
        link(rel='stylesheet', href='/styles/styles.css')

    body
        p(class="title") Work Description Report 
        div(class='sys-message' id='sys-message' )
        //- input(type='file')
        button(class='populate' onClick=`populate(${data})`) Populate the data
        div(class='hidden' id='display-controls')
            button(id='clients' onClick=`handleChangeDisplay('clients')`) clients 
            button(id='employees' onClick=`handleChangeDisplay('employees')`) employees 
            button(id='ind_employees' onClick=`handleChangeDisplay('ind_employees')`) individual employees
        div(id='cnt_clients'  class='hidden')
            div(class='canvas' id='client_chart_cnt')
        div(id='cnt_employees'  class='hidden')
            div(class='canvas' id='emp_chart_cnt')
        div(id='cnt_ind_employees' class='hidden')
            div(class='controls')
                select(class='hidden' id='ind_emp_selector1' data-container='ind_emp_chart_cnt1' data-canvas='ind_emp_canvas1')
                select(class='hidden' id='ind_emp_selector2' data-container='ind_emp_chart_cnt2' data-canvas='ind_emp_canvas2')
            div(class='data')
                div(class='canvas' id='ind_emp_chart_cnt1')
                div(class='canvas' id='ind_emp_chart_cnt2')
        